/* 1st portion styles */
.start-portion{
    font-family: 'Poppins', sans-serif;
    height: 53px;
    width:302px;
    border-radius: nullpx;
    margin: 50 230;
}

    
.navigation ul list{
    list-style-type: none;
    margin: 0;
    padding: 0;
font-weight: 18px;
align-items: center;
  

    
}
.container{
    display: flex;
  justify-content: space-around;
}
.list{
    display: flex;
    flex-direction: end;
    margin-left: 10px;
    padding: 10px;
    align-items: flex-end;
}
/* 2nd portion styles */
.primary{
    background-color: #FF900E;
    color: #FFFFFF;
    height:64px;
    width:180px;
    border-radius:8px;
}
.container-thyphon{
    text-align: center;
    background-color:
    rgba(255, 144, 14, 0.1);
}
.thyphon-title{
    font-size: 64px;
    color: #131313;
}
.inverse{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
@media only screen and(min-width:577px) and (max-width:767px) {
   
}
/* section-2  */
.mixture{
  color: #727272;
  font-size: 45px;
}
.spectra{
    font-size: 45px;
    font-style: bold;
    color:#131313;
}
.peranormal{
    color: #FF900E;
    font-size: 45px;
}
