/* 1st portion styles */
.start-portion{
    font-family: 'Poppins', sans-serif;
    height: 53px;
    width:302px;
    border-radius: nullpx;
    margin: 50 230;
}

    
.navigation ul list{
    list-style-type: none;
    margin: 0;
    padding: 0;
font-weight: 18px;
align-items: center;
  

    
}
.container{
    display: flex;
  justify-content: space-around;
}
.list{
    display: flex;
    flex-direction: end;
    margin-left: 10px;
    padding: 10px;
    align-items: flex-end;
}
/* 2nd portion styles */
.primary{
    background-color: #FF900E;
    color: #FFFFFF;
    height:64px;
    width:180px;
    border-radius:8px;
}
.container-thyphon{
    text-align: center;
    background-color:
    rgba(255, 144, 14, 0.1);
}
.thyphon-title{
    font-size: 64px;
    color: #131313;
}
.inverse{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
@media only screen and(min-width:577px) and (max-width:767px) {
   
}
/* section-2  */
.mixture{
  color: #727272;
  font-size: 45px;
}
.spectra{
    font-size: 45px;
    font-style: bold;
    color:#131313;
}
.peranormal{
    color: #FF900E;
    font-size: 45px;
}
/* Third portion   */

.failure-attempt{
    font-size: 45px;
    color: #131313;
}
.player-info{
color: #131313;
font-size: 20px;
}
.gray-matter{
        font-size: 16px;
        color: #727272;   
}
.notion-blast{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.primary-spectetor{
    font-size: 50px;
    height: 220px;
    width:300px;
    background-color: #FF900E;
    color: #FFFFFF;
    align-items: baseline;
}
.title{
    font-size: 45px;
    color: #131313;
    margin-top: 30px;
    margin-bottom: 20px;
}
.title-info{
    font-size: 16px;
    color: #727272;
}
.box{
    height: 241px;
    width: 100%;
    background-color: #FFFFFF;
}
.Boxs{
    display: flex;
    gap: 35px;
}
.number{
    font-size: 45px;
    color: #424242;
}
.sponsar-title{
    font-size: 45px;
    color: #131313;
}
.sponsar-info{
    font-size: 16px;
    color: #727272;
}
.sponsar-container{
    text-align: center;
}
.icon-smasher{
    display: flex;
    gap:100px;
    flex-direction:row;
    justify-content: center;
    
    
 
  

    
}
/* media Queries for mobile devices */
@media only screen and (max-width:480px) {
    .icon-smasher{
        width: 50%;
     display: grid;
     grid-template-columns: repeat(5,1fr);
    }

}
/* last portion */
.last-shot{
    margin-top: 100px;
    font-size: 16px;
    color: #424242;
    text-align: center;
    margin-bottom: -30px;
    justify-content: center;
}
.medula{
    background-color: #FFF4E7;
    height: 100px;
width: 100%;
border-radius: 8px;


}
